@page "/clientes"
@using ProtelAppT.Data
@using Microsoft.EntityFrameworkCore
@inject ProtelAppT.Data.ProtelDbContext _dbContext
@inject NavigationManager _navigationManager
@inject IDialogService DialogService
@inject AuthenticationStateService _authServiceState
@using ProtelAppT.Service
@inject ISnackbar Snackbar

@if (!_authServiceState.IsAuthenticated)
{
    _navigationManager.NavigateTo("/login");
} 


<MudText Typo="Typo.h4" Class="mb-4" Align="Align.Center">Gestión de Clientes</MudText>


<MudTable Items="@clientes"
          @bind-SelectedItems="clientesSeleccionados"
          MultiSelection="true"
          Hover="true"
          Dense="true"
          Breakpoint="Breakpoint.Sm">
    <ToolBarContent>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Primary" Variant="Variant.Outlined" OnClick="CrearCliente" />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Teléfono</MudTh>
        <MudTh>Estado</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.IdCliente</MudTd>
        <MudTd>@context.Nombre</MudTd>
        <MudTd>@context.Email</MudTd>
        <MudTd>@context.Telefono</MudTd>
        <MudTd>@context.EstadoCliente?.Nombre</MudTd>
        <MudTd></MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{5, 10, 20}" />
    </PagerContent>
</MudTable>


<div class="d-flex justify-end mt-4">
    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="ModificarClientesSeleccionados" Class="mr-2" Disabled="@(!clientesSeleccionados.Any())">Modificar</MudButton>
    <MudButton Color="Color.Error " Variant="Variant.Filled" OnClick="EliminarClientesSeleccionados" Disabled="@(!clientesSeleccionados.Any())">Eliminar</MudButton>
</div>



@code {
    private List<Cliente> clientes = new List<Cliente>();
    private HashSet<Cliente> clientesSeleccionados = new HashSet<Cliente>();

    protected override async Task OnInitializedAsync()
    {
        clientes = await _dbContext.CLIENTE.Include(c => c.EstadoCliente).ToListAsync();
        clientes.ForEach(c => c.Seleccionado = false);
    }

    private void CrearCliente()
    {
        _navigationManager.NavigateTo("/cliente-add"); 
    }

    private void ModificarClientesSeleccionados()
    {
        if (clientesSeleccionados.Count == 1)
        {
            var id = clientesSeleccionados.First().IdCliente;
            _navigationManager.NavigateTo($"/clientes-edit/{id}"); 
        }
        else if (clientesSeleccionados.Count > 1)
        {
            Snackbar.Add("Selecciona solo un cliente para editar.", Severity.Warning);
        }        
    }


    private async Task EliminarClientesSeleccionados()
    {
        if (clientesSeleccionados.Any())
        {
            bool? result = await DialogService.ShowMessageBox(
                "Confirmar Eliminación",
                $"¿Seguro que quieres eliminar {clientesSeleccionados.Count} clientes?",
                yesText: "Eliminar",
                cancelText: "Cancelar");

            if (result == true)
            {
                _dbContext.CLIENTE.RemoveRange(clientesSeleccionados);
                await _dbContext.SaveChangesAsync();
                clientes.RemoveAll(c => clientesSeleccionados.Contains(c));
                clientesSeleccionados.Clear();
                StateHasChanged(); 
            }
        }
    }
}